@font-face {
    font-family: "Inter-Bold";
    src: url("/fonts/Inter-Bold-700.otf") format("otf");
}

@font-face {
    font-family: "Inter-Regular";
    src: url("/fonts/Inter-Regular-400.otf") format("otf");
}
